.dashboard{
    .input{
      
        .location-input{
            width:15rem;
            height:2rem;
            font-size:1rem;
            text-indent: 0.2rem;
            border-radius: 0.3rem;  
            outline: none;
            border:none;  
        }
       
        .suggestion{
            margin-top:0;
            width:auto;
            height:2rem;
            background-color:rgba(170, 165, 165, 0.397);
            cursor: pointer;
            &:hover{
                background-color: rgba(170, 165, 165, 0.753);
            }
        }
        .error-message{
            color:red;
            margin: 1rem auto;
            font-weight: bold;
        }
    
        button{
            padding:0.5rem 1.5rem;
            background-color:rgba(29, 28, 28, 0.76);
            color:white;
            cursor: pointer;
            border:none;
            border-radius: 0.4rem;
            &:hover{
                background-color:black
            }
        }
    }
}