@import '../../variable.scss';

footer{
    position: absolute;
    bottom: 0;
    width:100%;
    background-color:$background-color;
    text-align:center;
    .logo{
        width:10rem;
        height:2rem;
    }
}

