$header:rgba(245, 245, 220, 0.877);
$background-color:rgba(170, 165, 165, 0.397);
$background-color-hover:rgba(170, 165, 165, 0.753);
$text-color:black;
$error-colcor:rgba(241, 42, 7, 0.938);
$button-color:rgba(29, 28, 28, 0.76);